
<aside>
    <div class="search">
        <h3 class="side-title">Search Blog</h3>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter your search keyword(s)" aria-label="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Go!</button>
            </span>
        </div>
    </div>
    <div class="social">
        <h3 class="side-title">Connect with us</h3>
        <div class="social-apps">
            <div class="facebook">
                <a href="https://www.facebook.com/" target="_blank">
                    <span class="app-icon">
                        <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
                    </span>
                </a>
            </div>
            <div class="twitter">
                <a href="https://www.twitter.com" target="_blank">
                    <span class="app-icon">
                        <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
                    </span>
                </a>
            </div>
            <div class="google">
                <a href="https://plus.google.com/u/0/">
                    <span class="app-icon">
                        <i class="fa fa-google-plus fa-lg" aria-hidden="true"></i>
                    </span>
                </a>
            </div>
        </div>

    </div>
    <div class="advertisement">
        <h3 class="side-ads">Your Ads Here</h3>
        <div>
            <img src="/images/ads02.jpg">
        </div>
        <div>
            <img src="/images/ads01.jpg">
        </div>
    </div>
    <div class="email">
        <h3 class="side-title">Suscribe</h3>
        <form action="/action_index.html">
            E-mail:
            <input type="email" name="email">
            <input type="submit">
        </form>

    </div>
</aside>