

<div class="jr">
    <h5 id="poster">About the Author</h5>
    <p>
        Hi, i am Jean Robert currently taking a full stack web development class at
        <a href="https://www.codecareeracademy.com/" target="_blank">Code Career Academy</a> since October 2017.
    </p>
    <p>
        It was a major and decisive step for me having an industrial factory work background,i understood that my success
        into this new field would require a lot of commitment and hard work. Once i decided to learn coding, i had a few questions in mind:
    </p>
    <ul>
        <li>Bootcamp or Technical College?</li>
        <li>What Language(s) should i learn?</li>
        <li>What type of Career support would i get?</li>
    </ul>
    <p>
        After a lot of research,i picked CCA.<strong>Jeff A.</strong> the lead instructor is a <strong>Microsoft MVP</strong> in the area of Visual Studio and Development Technologies.
        He is also an author of video training courses for programmers for <a href="https://www.pluralsight.com/" target="_blank">Pluralsight.</a>
    </p>
</div>